<div class="container">
  <div class="row">
    <div class="col">
    <div class="col text-center  text-center">
          <a class="display-4 app-header" href="/">Blog App</a
        ></div>
        <p class="lead text-center mb-5">Your Own Journal</p>
        <h2 class="col text-center  mb-5">Sign Up</h2>            
        <div class="text-center  mt-5">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>
              <div class="field text-center">
                <label for="exampleInputEmail1">Email address</label>
                <%= f.email_field :email, autofocus: true, autocomplete: "email" , class:"w-50 mx-auto text-center form-control"%>
              </div>


              <div class="mt-5 field text-center">
                <label for="exampleInputPassword1">Password</label>
                <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %><br />
                <%= f.password_field :password, autocomplete: "new-password", class:"w-50 mx-auto text-center form-control"  %>
              </div>

              <div class="mt-5 field text-center">
                <label for="exampleInputPassword1">Repeat Password</label>
                <%= f.password_field :password_confirmation, autocomplete: "new-password" , class:"w-50 mx-auto text-center form-control"%>
              </div>
              
              <div class="actions text-center mt-5 mb-2">
                <%= f.submit "Sign up", class: "btn btn-primary"  %>
              </div>
            <% end %>
            
            <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
