<div class="container">
    <div class="row">
        <div class="col mb-5">
            <div class="col text-center  text-center">
                <a class="display-4 app-header" href="/">Blog App</a>
            </div>
            <p class="lead text-center ">Your Own Journal</p>

            <% if user_signed_in? %>
                <p class="w-50 mx-auto  text-right "><%= link_to "logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></p>
                <p class="w-50 mx-auto  mt-5 lead text-left "><a href="/posts/new" class="navbar-link text-left">Create a New Post</a></p>
                <h2 class="text-center ">Your Posts</h2>
                <div class="col text-left mt-5" >
                    <% @my_posts.each do |post| %>
                        <h4 class="w-50 mx-auto  mt-5 app-header" ><a class="app-header" href="/posts/<%= post.id %>"><%= post.title %></ a></h4>
                        <p class="w-50 mx-auto "><%= post.content %></p>
                    <% end %>
                </div>
            <% else %>
                <p  class="lead text-right">
                    <span class="lead text-right mr-5"><a href="/users/sign_in" class="text-center"> log In</a></span> 
                    <span class="lead text-right"><a href="/users/sign_up" class="text-center"> sign up</a></span>
                </p>
                <h2 class="text-center ">Lates Posts</h2>
                <div class="col text-left mt-5" >
                    <% @posts.each do |post| %>
                        <h4 class="w-50 mx-auto  mt-5 app-header" ><a class="app-header" href="/posts/<%= post.id %>"><%= post.title %></ a></h4>
                        <p class="w-50 mx-auto "><%= post.content %></p>
                    <% end %>
                </div>
            <% end %>            
        </div>
    </div>
</div>




