<div class="container">
  <div class="row">
    <div class="col">
        
        <div class="col text-center  text-center">
          <a class="display-4 app-header" href="/">Blog App</a
        ></div>
        <p class="lead text-center mb-5">Your Own Journal</p>

      <h2 class="col text-center  mb-5">Log in</h2>            
      <div class="text-center  mt-5">
      
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field text-center">
              <label for="exampleInputEmail1">Email address</label>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" , class:"w-50 mx-auto text-center form-control"%>
          
        </div>

        <div class="mt-5  field text-center">
          <label for="exampleInputPassword1">Password</label>
          <%= f.password_field :password, autocomplete: "current-password", class:"w-50 mx-auto text-center form-control" %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="field text-center">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>

        <div class="actions text-center">
          <%= f.submit "Log in",class: "btn btn-primary" %>
        </div>
        <% end %>

        <div class="mt-5 field text-center">
        <%= render "devise/shared/links" %>
        </div>
        </div>
        
      </div>
    </div>
</div>
